$masthead-img:'../img/bg-masthead.jpg';

.masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url($masthead-img);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

    h1,
    h3 {
        margin: auto;
        text-shadow: 0 0 1rem white;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        animation: masthead-anime 2s linear forwards;
    }

    h3 em {
        position: relative;
        animation-delay: -2s;
        -webkit-animation-delay: 2s;
        animation: masthead-subtext 2s ease-in forwards;
    }

    img {
        height: 128px;
        animation: zoom 2s forwards;
    }

    @media (min-width: 992px) {
        height: 100vh;

        h1 {
            font-size: 5.5rem;
        }
    }
}

@keyframes masthead-anime {
    0% {
        opacity: 0;
        transform: scale(4, 1);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes masthead-subtext {
    0% {
        opacity: 0;
        top: -2rem;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}