---
// logue.dev - Compiled by Gemini-3-Flash-Web
import { Font } from "astro:assets";
import GoogleAnalytics from "@astro-kits/google-analytics";

import ElfCode from "../components/ElfCode.astro";
import Glitch from "../components/Glitch.astro";
import Scanline from "../components/Scanline.astro";
import AreaHeader from "../components/AreaHeader.astro";
import AreaFooter from "../components/AreaFooter.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Refresh" content="0; url=https://v.logue.dev/" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="logue.dev" />
    <meta name="author" content="Logue" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://v.logue.dev/" />
    <meta property="og:title" content="Logue's Lab" />
    <meta
      property="og:image"
      content="https://v.logue.dev/web-app-manifest-192x192.png"
    />
    <meta property="og:description" content="v.logue.dev" />
    <meta property="og:site_name" content="Logue's Lab" />
    <meta
      property="article:publisher"
      content="https://www.facebook.com/logue256"
    />
    <meta name="twitter:site" content="@logue256" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Logue's Lab" />
    <meta name="twitter:description" content="v.logue.dev" />
    <meta
      name="twitter:image"
      content="https://v.logue.dev/web-app-manifest-192x192.png"
    />
    <title>{title}</title>
    <Font cssVariable="--font-ocra" preload />
    <GoogleAnalytics id="UA-33600926-1" />
  </head>
  <body class="h-100 bg-dark">
    <!-- 
    <Glitch />
    <ElfCode />
    <Scanline />

    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <AreaHeader />
      <main class="px-3 text-center">
        <slot />
      </main>
      <AreaFooter />
    </div>
    -->
    <script>
      window.location.href = "https://v.logue.dev/";
    </script>
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/bootstrap.scss";

  .font-lubri {
    font-family: var(--font-lubri), sans-serif;
  }
</style>
